<div class="container portfolio">
  <div class="row title">
    <div class="col-12">
      <h1 class='title text-left'>
        portfolio
      </h1>
    </div>
  </div>
</div>
<div class="container images">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
    <div class="col-lg-6 col-sm-12">
      <%= image_tag 'portfolio.png', class: 'portfolio-img'%>
    </div>
  </div>
</div>
